@import './styles/variables.css';

body {
  margin: 0;
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background);
  color: var(--color-text-primary);
}

code {
  font-family: var(--font-family-mono);
}
